# Docker

DB_PASSWORD=postgres
DB_NAME=vitadb
DB_HOST=localhost
DB_USERNAME=postgres

# App

PORT=3001

# Prisma

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vitadb?schema=public"

JWT_SECRET=secreto-maximo-de-locura

MAIL_SERVICE='gmail'
MAIL_USER='vita.app.new@gmail.com'
MAIL_CLIENT_ID='169349706257-eikq46933p5j9fculgqs7rlssoq4rqft.apps.googleusercontent.com'
MAIL_CLIENT_SECRET='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'
MAIL_REFRESH_TOKEN='1//04KCo3S93lHWoCgYIARAAGAQSNwF-L9IroS9qqA1p6-__f-cuSDkGSwY_HtpL1ZlKcZyH6aH4OgV1IJFuszH2_HpSDIMojHXDxTI'